%footer
  .container
    %ul.contact
      %li
        = link_to  "blakada@me.com", "mailto:blakada@me.com", class: 'email'
      %li
        = link_to "https://instagram.com/lukerpfeiffer", target: "_blank", class: 'instagram' do
          %i.fa.fa-instagram
