%p.title Bryan Tormey

#home
  .images-container.scroller
    - images.each do |image|
      .image.single-image
        %ul
          - if image.image_url
            %li= image_tag(image.image_url)
          - else
            %li
              %img{src: "/", alt: "Something went wrong..."}

= render 'footer'
