%p.title Bryan Tormey

#home
  .images-container.scroller
    -# - images.each do |image|
    -#   .image.single-image
    -#     %ul
    -#       %li= filestack_image image.filepicker_url

    -# .image
    -#   = image_tag("image.jpg")

    .image
      = image_tag("image2.jpg")


= render 'footer'
