@import "bourbon";
@import "base/base";
@import "neat";
@import "footer";
@import "home";
@import "carousel";
@import "images";
@import "admin_nav";
@import "panels";
@import "forms";
@import "cards";
@import "alerts";

$default-font: "Saira Condensed", sans-serif;

#home{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 82%;
}

@media only screen and (max-device-width: 768px) {
  #home{
    height: 96%;
  }
}

#main{
  margin: 0;
  font-family: $default-font;
  position: relative;
}

.admin{
  background-color: #F7F6F3;
}

h1{
  font-size: 22px;
}

.action-links{
  margin-left: 15px;
  a{
    font-size: 18px;
    padding: 0.25rem 1rem;
    margin-right: 5px;
    color: #fff;
    border-radius: 0.25rem;
  }

  .danger{
    background-color: #d9534f;
    border: 1px solid #d9534f;
  }

  .view{
    background-color: #5bc0de;
    border: 1px solid #5bc0de;
  }

  .edit{
    background-color: #f0ad4e;
    border: 1px solid #f0ad4e;
  }
}

.card-copy{
  .action-links{
    text-align: right;
    a{
      margin-left: 5px;
    }
  }
}
