.scroller{
  height: 500px;
  .double-image{
    ul{
      li{
        float: left;
        list-style-type: none;
      }

      img{
      }
    }
  }

  .image{
    img{
      width: 50%;
    }
  }
}
