.scroller{
  margin-top: 1vw;
  .image{
    img{
      width: 55%;
    }
  }

  @media only screen and (max-device-width: 768px) {
    height: 800px;
    margin-top: 10vw;

    .image{
      img{
        width: 80%;
      }
    }
  }
}
