.title{
  font-size: 18px;
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 0;
}

#home{
  .slick-slide{
    max-height: 100vh;
  }

  .images-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-height: 900px;

    @media (max-aspect-ratio: 15/9){
      max-height: 375px;
    }

    @media (max-aspect-ratio: 2/1){
      max-height: 800px;
    }


    @media (max-aspect-ratio: 10/7){
      max-height: 475px;
    }

    img{
      margin-left: auto;
      margin-right: auto;

      @media only screen and (max-device-width: 768px) {
        width: 62%;
      }

    }
  }
}

@media only screen and (max-device-width: 768px) {
  .title{
    font-size: 25px;
  }

  #home{
    .slick-slide{
      max-height: 60vw;
    }
  }
}
